html{
  scroll-behavior: smooth;
}

#main h2{
  text-align: center;
  color: navy;
}

#main p{
  text-align: center;
  margin: 30px;
  color: navy;
}


.gallery div{
background-color: white;
color: navy;
width: 90%;
margin: auto;
align-items: center;
} 

.gallery img{
display: grid;
position: relative;
grid-template-columns: auto;
margin: auto;
width: 90%;
height: auto;
grid-row: 1 / -1;
}


@media screen and (min-width: 600px){
  .gallery img{
      border: 2px solid navy;
  }
  .gallery div:hover {
    border: 15px solid gold;
  }
}
