
html{
    scroll-behavior: smooth;
  }
  
body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: navy;
    font-size: 18px;
    margin: 25px;
    padding: 0;
  }

h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
  }

h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0 10px 0 10px;
  }

p {
    text-align: center;
}

nav{
    background-color: navy;
}

ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    /* position: fixed; */
    top: 0 ;
    width: 100%;
  }
  
li{
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: navy;
  }
  
.active {
    background-color:white ;
    color: navy;
  }

/* img{
  max-width: 400px;
  align-self: center;
} */
.content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  }


.about_aa, .law_quad, .study_spots, .study_breaks, .michigan_classics, .saturdays{
  background-color: lightgoldenrodyellow;
  grid-column: 1 / span 1 ;
  max-width: 200px;
  max-height: 500px;
  align-self: center;
  justify-items: center;
}

.about_aa{
  grid-row: 2 / span 1;
} 

.about_aa img{
  justify-items: center;
  align-self: center;
}

.law_quad{
  grid-row: 3 / span 1;
}

.study_spots{
  grid-row: 4 / span 1;
}

.study_breaks{
  grid-row: 5 / span 1;
}

.michigan_classics{
  grid-row: 6 / span 1;
}
.saturdays{
  grid-row: 7 / span 1;

}


/* .sunset { 
  width: 20%;
  background-color: white;
  margin: 3%;
  border: 1px solid;} */

/* }
nav li{
    display:inline;
    padding-left:20px;
  
  }
nav ul {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
  }
 
nav{
    background-color: #ddd;
    padding: 25px 0; 
    text-align: left;
    font: times;
  }
  
footer{
    background-color: bisque;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
nav a:hover {
    color: white;
	background-color: black;
    text-decoration: underline;
	font-weight: bolder;
}

.active{
    background-color: #04AA6D;
  } */

/* div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
div.container {
    text-align: center;
    padding: 10px 20px;
  } */


/* .sunset, .law_quad, .fishbowl, .union, .arb, .state_street, .clock_tower, .michigan_theater_sign, .saturdays_american_flag, .inside_big_house, .goal_post{
    border: red; */
    /* div.polaroid {
        width: 80%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
      }
      
    div.container {
        text-align: center;
        padding: 10px 20px;
      } */
