#main h2{
    text-align: center;
}

#main p{
    text-align: center;
    margin: 30px;
}

.gallery{
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-gap: 25px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 75px;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    vertical-align: top;
    text-align: center;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 600px){
    .gallery img{
        border: 2px solid black;
    }
}

@media screen and (min-width: 900px){
    .gallery img{
        border: 2px solid pink;
    }

    .image1 #caption{
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 10px;
        background: rgba(2, 19, 128, 0.75);
        color: white;
    }

    .image1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    
    img:nth-child(2){
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    
    img:nth-child(3){
        grid-column: 5 / span 1;
        grid-row: 1 / span 1;
    }
    
  

}


