h1{
	color: navy;
    background-color: white;
}

#main h2, h3, p{
    color: navy;
    text-align: center;
    margin: 30px;
}

.gallery{
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-gap: 40px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 75px;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    vertical-align: top;
    text-align: center;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:hover {
    border: 20px solid gold;
  }

@media screen and (min-width: 600px){
    .gallery img:nth-child(1){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;  
    }

    .gallery img:nth-child(3){
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .gallery img:nth-child(5){
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery img:nth-child(7){
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery img:nth-child(9){
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }

    .gallery img:nth-child(11){
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
    }

    .gallery img:nth-child(13){
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }

    .gallery img:nth-child(15){
        grid-column: 2 / span 1;
        grid-row: 7 / span 1;
    }

    .gallery img:nth-child(17){
        grid-column: 1 / span 1;
        grid-row: 9 / span 1;
    }

    .gallery img:nth-child(19){
        grid-column: 2 / span 1;
        grid-row: 9 / span 1;
    }

    .gallery img:nth-child(21){
        grid-column: 1 / span 1;
        grid-row: 11 / span 1;
    }

    .gallery img:nth-child(23){
        grid-column: 2 / span 1;
        grid-row: 11 / span 1;
    }

    .gallery img:nth-child(25){
        grid-column: 1 / span 1;
        grid-row: 13 / span 1;
    }

    .gallery img:nth-child(27){
        grid-column: 2 / span 1;
        grid-row: 13 / span 1;
    }

    .gallery img:nth-child(29){
        grid-column: 1 / span 1;
        grid-row: 15 / span 1;
    }

    .gallery img:nth-child(31){
        grid-column: 2 / span 1;
        grid-row: 15 / span 1;
    }

    .gallery img:nth-child(33){
        grid-column: 1 / span 1;
        grid-row: 17 / span 1;
    }

    .gallery img:nth-child(35){
        grid-column: 2 / span 1;
        grid-row: 17 / span 1;
    }
}

@media screen and (min-width: 900px){
    .gallery img:nth-child(1){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;  
    }

    .gallery img:nth-child(3){
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .gallery img:nth-child(5){
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .gallery img:nth-child(7){
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery img:nth-child(9){
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery img:nth-child(11){
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }

    .gallery img:nth-child(13){
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }

    .gallery img:nth-child(15){
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
    }

    .gallery img:nth-child(17){
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
    }

    .gallery img:nth-child(19){
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }

    .gallery img:nth-child(21){
        grid-column: 2 / span 1;
        grid-row: 7 / span 1;
    }

    .gallery img:nth-child(23){
        grid-column: 3 / span 1;
        grid-row: 7 / span 1;
    }

    .gallery img:nth-child(25){
        grid-column: 1 / span 1;
        grid-row: 9 / span 1;
    }

    .gallery img:nth-child(27){
        grid-column: 2 / span 1;
        grid-row: 9 / span 1;
    }

    .gallery img:nth-child(29){
        grid-column: 3 / span 1;
        grid-row: 9 / span 1;
    }

    .gallery img:nth-child(31){
        grid-column: 1 / span 1;
        grid-row: 11 / span 1;
    }

    .gallery img:nth-child(33){
        grid-column: 2 / span 1;
        grid-row: 11 / span 1;
    }

    .gallery img:nth-child(35){
        grid-column: 3 / span 1;
        grid-row: 11 / span 1;
    }
}


