body{
    background-color: white;
}


main h1{
  color: navy;
  font-family: Palatino, URW Palladio L, serif;
  text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    top: 0 ;
    width: 100%;
  }
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover:not(.active) {
    background-color: navy;
  }
  
.active {
    background-color:gold ;
    color: navy;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    line-height: 2;
}


.container div{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
    color: navy;
    width: 60%;
  }

.overview p:nth-child(3){
  font-weight: bolder;
  font-style: oblique;
} 
.container p{
  text-align: center;
  font-size: calc(1rem + 1vw);
}

.overview {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: orange;
}

/* .video{
    display: block; 
    visibility: collapse;
} */

/* video {
  display: flex;
  /* height:80%;
  width:80%;
  position:absolute; */
/* iframe{
  width: auto;
  height: auto;
} */


.vid_link{
    display: block;
    text-align: center;

}
.vid_link img{
    width: 75%;
}
footer{
    display: flex;
    color: navy;
    text-align: left;
    flex-wrap: wrap;
}

/* .video{
    display: flex;
    flex-direction: column;
} */

/* .vid_link {
    display: none;
    /* flex-wrap: wrap;
    width: 100%; */

/* .video{
    display: none ;
    display: flex;
    flex: 1;
    width: 50%;
    margin: 0 auto; 

} 


/* #video {
    display: none;
    /* position: absolute; 
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; */


/* Desktop menu  */

@media screen and (min-width: 600px){
    li{
      float:left;
    }
  }
