body{
  background-color: white;
}


main h1{
color: navy;
font-family: Palatino, URW Palladio L, serif;
text-align: center;
}


a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: navy;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid navy;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: navy;
  top: 0 ;
  width: 100%;
}
li a {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: navy;
}

.active {
  background-color:gold ;
  color: navy;
  text-decoration: underline;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  line-height: 2;
}


.container div{
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: navy;
  width: 60%;
}

.overview p:nth-child(3){
font-weight: bolder;
font-style: oblique;
} 
.container p{
text-align: center;
font-size: calc(1rem + 1vw);
}

.overview {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: orange;
}



.video{
display: flex;
align-items: center;
text-align: center;
justify-content: center;  
}


.video img{
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  color: navy;
  text-align: left;
  flex-wrap: wrap;

}



/* mobile video view menu  */
@media screen and (max-width: 900px){
.video{
  display: none;
}
}



/* tablet menu  */

@media screen and (min-width: 700px){
  nav{
    flex-direction: row;
  }
  li{
    float: left;
  }
  li a {
    flex-direction: row;
    font-weight: bolder;
  }
  .video{
    display: flex;
  }


}

/* desktop view menu  */

@media screen and (min-width: 900px){
.vid_link{
  display: none;
}
li a {
  font-weight: normal;
}
}

