
nav{
    background-color: navy;
    margin: auto;
}

main h1{
  color: navy;
  font-family: Palatino, URW Palladio L, serif;
  text-align: center;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: navy;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid navy;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    top: 0 ;
    width: 100%;
  }
  
li{
    float:none;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: navy;
  }
  
.active {
    background-color:gold ;
    color: navy;
    text-decoration: underline;
  }
body p {
  color: navy;
}


/* tablet menu  */

@media screen and (min-width: 700px){
  li a{
    font-weight: bolder;
  }
  
}

/* Desktop menu  */

@media screen and (min-width: 900px){
  li{
    float:left;
  }
  li a{
    font-weight: normal;
  }

}
