#main h2{
    text-align: center;
}

#main p{
    text-align: center;
    margin: 30px;
}

.gallery{
    display: grid;
    grid-gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 75px;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 600px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    img:nth-child(1){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    img:nth-child(2){
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    img:nth-child(3){
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    img:nth-child(4){
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    img:nth-child(5){
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    img:nth-child(6){
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    img:nth-child(7){
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    img:nth-child(8){
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }

}

@media screen and (min-width: 900px){
    .gallery img{
        border: 2px solid pink;
    }
}