h1{
	color: navy;
    background-color: white;
}

#main h2, h3, p{
    color: navy;
    text-align: center;
    margin: 30px;
}

.gallery{
    display: grid;
    grid-gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 75px;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 600px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 900px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
    }

    img:nth-child(1){
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    img:nth-child(3){
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }

    img:nth-child(5){
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
    }

    img:nth-child(8){
        grid-column: 3 / span 2;
        grid-row: 5 / span 2;
    }

    img:nth-child(13){
        grid-column: 3 / span 2;
        grid-row: 7 / span 1;
    }

    img:nth-child(14){
        grid-column: 1 / span 2;
        grid-row: 7 / span 1;
    }






   


    

}