h1{
	color: navy;
    background-color: white;
}

#main h2, h3, p{
    color: navy;
    text-align: center;
    margin: 30px;
}

.container{
    margin: 30px;
    color: white;
    border-radius: 10px;
    background-color: navy;
    padding: 30px;
}

input[type=text]{
    width: 100%;
    padding: 15px;
    border: 2px solid gold;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
}

input[type=submit]{
    color: navy;
    background-color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width: 900px){
    .container{
        margin-left: 200px;
        margin-right: 200px;
    }
}



