
nav{
    background-color: navy;
    margin: auto;
}

main h1{
  color: navy;
  font-family: Palatino, URW Palladio L, serif;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    top: 0 ;
    width: 100%;
  }
  
li{
    float:none;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: navy;
  }
  
.active {
    background-color:gold ;
    color: navy;
    text-decoration: underline;
  }
body p {
  color: navy;
}

/* Desktop menu  */

@media screen and (min-width: 900px){
  li{
    float:left;
  }

}
